# Node.js dependencies
node_modules/

# Build output
.next/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.swp

# MacOS system files
.DS_Store

# Miscellaneous
*.log
